.centerIcon{
    text-align: center;
}

.hide {
    display: none;
}

.pagination-center{
    margin: 0 auto;
    margin-top:auto;
    margin-bottom: 30px;
}

.pagination-table td {
    padding: 0 15px;
}